.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 20em;
  height: max-content;
  margin: 4em;
  display: flex;
  flex-direction: column;
  place-content: center;
  background: whitesmoke;
  justify-content: space-evenly;
  padding: 1em;
}

.img {
  width: 100%;
  height: 15em;
  align-self: center;
  margin: 1em 0;
}

.title {
  font-weight: bolder;
  text-align: left;
}

.copyright {
  text-align: left;
  color: gray;
  font-weight: bolder;
  font-size: small;
}

.details {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2em 0.5em;
  text-align: left;
  border: 0.5px solid lightgray;
  margin-top: -2em;
}

.explanation {
  font-weight: bolder;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 1em;
  color: rgb(73, 72, 72);
}

.date {
  text-align: left;
  font-size: 0.7em;
  margin-bottom: 1em;
  color: rgb(73, 72, 72);
}

.like {
  width: 5em;
  background: white;
  padding: 0.5em 0.75em;
  border: 1px solid lightgray;
}

.loader{
  font-weight: bolder;
  display: block;
  margin: 50vw auto;
  font-size: 2em;
}
